.card{
    background-color: lightgreen;
    max-width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 10px;
    padding: 2rem;
    text-align: center;
    display: inline-block;
}

.card img{
     width: 200px;
}